body {
    margin: 0;
}
.nav-bar {
    background-color: black;
    margin-top: -16px;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: right;
    text-align: center;
}

li a {
    display: block;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
    padding: 16px 14px;
}

li:hover {
    background-color: gray;
}